.navbar {
    display: flex;
    background-color: orange;
  }
  
  .navbar > * {
    margin-right: 10px;;
  }
  .restaurantPage {
    text-align: center;
    font-size: 40px;
  }
  .restaurantContainer {
    display: flex;
    text-align: center;
    font-size: 30px;
  }
  
  .leftMenu {
    margin-top: 50px;
    width: 25%;
    text-align: left;
    font-size: 20px;
  }
  .centerMenu {
    margin-top: 50px;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .rightMenu{
    margin-top: 50px;
    margin-left: 30px;
    width: 25%;
    text-align: left;
    font-size: 20px;
  }